@{
    ViewData["Title"] = "Home Page";
}

<div style="display: flex; flex-direction: column; justify-content: space-between; height: 80vh; text-align: center;">
    <h1 class="display-4" style="margin-top: 50px;">Seja bem vindo!</h1>

    <p style="margin-bottom: 50px;">Aqui você pode acompanhar sua situação acadêmica :)</p>
</div>
